body {
  background-color: bisque;

  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height: 250px;

  background-color: rgb(20, 16, 82);

  color:white;
  font-size: 48px;

  text-align: center;

  padding: 20px;
}

.grade-template{
  width: 200px;
  height: 100px;

  margin: 0 auto;

  background-color: white;

  border-radius: 15%;
  border: 3px solid aquamarine;

  padding: 20px;
}

.grade-number{
  font-weight: bold;
  font-size: 60px;
  
}

.grade-display{
  text-align: center;
  font-size: 36px;

  color: black;
}

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 100px;
}

.courseCard-template{
  margin: 0 auto;

  width: 90%;
  max-height: 1000px;

  background-color: orange;

  border-radius: 20px;

  padding: 30px;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  overflow: auto;
}

.courseForm-template{
  margin: 0 auto;

  width: 90%;

  background-color: palevioletred;

  border-radius: 20px;

  padding: 30px;
}

.topic{
  font-size: 36px;
  font-weight: bold;

  text-align: center;

  margin: 30px;
}

/* ----------------------- CourseCard ------------------------- */

.statementElement{
  width: 150px;
  height: 150px;

  font-size: 26px;

  border-radius: 20%;
  
  text-align: center;

  margin: 20px;
  padding: 20px;
}

.statementElement:hover{
  border: 3px solid red;
}

.statementElement-1{
  color: white;

  background-color: rgb(245, 108, 238);
}

.statementElement-2{
  color: black; 
  
  background-color: rgb(130, 194, 247);
}

.statement-id{
  font-size: 36px;
  font-weight: bold;

  margin: 10px;
}

/* ----------------- CourseForm ------------------ */

.input-template{
  margin: 20px;

  text-align: center;
}

.input-template2{
  display: flex;
  align-items: center;

  text-align: center;

  margin: 20px;
}

.input-form{
  width: 60%;

  font-size: 26px;

  padding: 10px;

  border-radius: 10px;

  border: none;
}

.credit-btn{
  width: 100px;
  height: 70px;

  padding: 20px;

  border-radius: 50%;

  font-size: 26px;

  margin-left: 220px;
}

.grade-btn{
  width: 100%;
  height: 50px;

  font-size: 26px;
  text-align: center;

  margin-left: 50px;

  border-radius: 20px;

  padding: 10px;
}